[Bridge0]
name = oambr-int
bootproto = dhcp

[Eth0]
name = oam-int
bridge = oambr-int

[Bridge1]
name = oambr-ext

[Eth1]
name = oam-ext
bridge = oambr-ext

{% if Alias_Flag|int == 0 %}
{% for bridge,Ip in bridgeList|zip(IpList+ [''] * (bridgeList|length - IpList|length)) %}
{% set name = bridge   | regex_replace('^[^\\d]+', '') %}
{% set bridge = bridge | regex_replace('[br_]','') %}
[MacVlan{{ loop.index + 1 }}]
name = macv{{ name }}
parent = {{ bridge }}
{% if Ip %}
ipaddr = {{ Ip }}
{% if  gateway[Ip]  is defined %}
gateway = {{ gateway[Ip]  }}
{% endif %}
{% endif %}

[Eth{{ loop.index + 1 }}]
name = {{ bridge }}

{% endfor %}

{% else %}

{% for bridge,Ip in AliasBridgeList|zip(IpList+ [''] * (AliasBridgeList|length - IpList|length)) %}
{% set name = bridge   | regex_replace('^[^\\d]+', '') %}
{% set bridge = bridge | regex_replace('[br_]','') %}
[MacVlan{{ loop.index + 1 }}]
name = macv{{ name }}
parent = {{ bridge }}
{% if Ip %}
ipaddr = {{ Ip }}
{% if  gateway[Ip]  is defined %}
gateway = {{ gateway[Ip]  }}
{% endif %}
{% endif %}

[Eth{{ loop.index + 1 }}]
name = {{ bridge }}

{% endfor %}


{% endif %}


