#
# Copyright Motorola Solutions, Inc. and/or Kodiak Networks, Inc.
# All Rights Reserved
# Motorola Solutions Confidential Restricted
#
---

- name: Checking lvm volume is attached to VM
  shell: |
      virsh domblklist {{ vm_name }} | awk 'NR > 2  {print $2} '  | grep podmanstorage
  register: bmlvm
  become: yes
  when: host_type == 'bm'
  changed_when: false
  failed_when: false

- name: Checking LVM volume is created in the BareMetal host
  shell: "lvs | grep -iw {{ vm_name }}_{{ lv_name }}"
  register: lvmpodman
  become: yes
  when: host_type == 'bm'
  changed_when: false
  failed_when: false


- name: print o/p of lvm volume
  debug:
     msg: "{{ bmlvm.stdout }} is the output}}"
  when: host_type == 'bm'


- name: Extract and convert to integer
  shell: |
     LV_SIZE=`lvs -a -o name,lv_size vg01 --units g| grep -w 'kpool' |tr -d "<" | awk '{print $2}'`
     echo $LV_SIZE | awk -F'[^0-9]' '{print $1}'
  register: result_integer
  when: host_type == 'bm'

- debug:
    var: result_integer.stdout | int
  when: host_type == 'bm'

- name: getting vgs space with set_fact
  set_fact:
    vgsspace: "{{ result_integer.stdout | int  }}"
  when: host_type == 'bm'


- debug: var=vgsspace
  when: host_type == 'bm'


- name: Creating lvm volume on Baremetal Host
  #command: lvcreate -L {{ lv_size }} -n {{ lv_name }} vg01 --wipesignatures y --yes
  command: /sbin/lvcreate --wipesignatures y --virtualsize {{ lv_size }} -n {{ vm_name }}_{{ lv_name }} --thin vg01/kpool
  register: lvcreate
  become: yes
  when: group in group_names and bmlvm.stdout == "" and lvmpodman.stdout == ""

- debug: var=lvcreate.stdout
  when: host_type == 'bm' and bmlvm.stdout == ""

- name: disk device name list
  set_fact:
    disk_device: [ "sda", "sdb", "sdc", "sdd", "sde", "sdf", "sdg" ]
  when: group in group_names


- name: disk device scsci unit number
  set_fact:
    disk_unit_num: [ "0", "1", "2", "3", "4", "5" ]
  when: group in group_names

- fail:
    msg: "{{ vm_name }}_{{ lv_name }} already exists...."
  when: host_type == 'bm' and bmlvm.stdout == "" and lvmpodman.stdout == "" and lvcreate.rc != 0



- name: Gather the number of storage attached to the VM
  shell: >
     virsh domblklist {{ vm_name }}  |awk 'NR>1 {print $1}'| grep -ie "sd*"  | wc -l

  become: yes
  register: disk_number
  when: host_type == 'bm'

- debug: var=disk_number.stdout

- name: zero out first 10MB of partition
  command: sudo /usr/bin/dd if=/dev/zero of=/dev/vg01/{{ vm_name }}_{{ lv_name }} bs=1024 count=1000 conv=notrunc
  become: yes
  register: vm_dd
  when: host_type == 'bm' and bmlvm.stdout == ""

- name: lv to be attached
  set_fact:
    lv_podman_bm: "/dev/vg01/{{ vm_name }}_{{ lv_name }}"
  when: group in group_names and bmlvm.stdout == ""

- name: lv to be attached
  set_fact:
    lv_podman_bm: "{{ bmlvm.stdout }}"
  when: group in group_names and bmlvm.stdout != ""


- name: Attach lvm partition for the VM
  command: virsh attach-disk {{ vm_name }} {{ lv_podman_bm }} --target sdz --serial sdz   --persistent --live
  become: yes
  register: lvm_disk_attach
  ignore_errors: true
  when: host_type == 'bm'

- debug: var=lvm_disk_attach.stdout
  when: host_type == 'bm'

- fail: msg=" sdz attach failed"
  failed_when:
        - lvm_disk_attach.rc != 0
        - "'target sdz already exists' not in lvm_disk_attach.stderr"
  when: host_type == 'bm'




- name: getting new disk unit number output
  command: echo "{{ disk_number.stdout|int }}"
  become: yes
  register: diskunitnumber

  when: host_type == 'bm'

- debug: var=diskunitnumber.stdout


- name: Gather disk device names on baremtal host
  shell: >
     virsh domblklist {{ vm_name }} | awk 'NR>1 {print $1}' | grep -ie "sd" | tail -n1
  become: yes
  register: disk_device_name
  when: host_type == 'bm'

- debug: var=disk_device_name.stdout


- name: getting scsci unit number
  set_fact:
    disk_scsci_num: "{{ diskunitnumber.stdout }}"
  when: host_type == 'bm'


- name: getting baremetal disk name
  set_fact:
    disk_name: "{{ disk_device_name.stdout }}"
  when: host_type == 'bm'

- name: checking /var/lib/containers exist or not
  command: mountpoint -q /var/lib/containers
  become: yes
  register: volume_stat
  failed_when: False
  changed_when: False
  when: host_type == 'vm'

- debug: var=volume_stat.stdout

- name: getting newdisk name on VM
  shell: >
    ls -l /dev/disk/by-id|  grep "sdz " |  awk '{print $NF}' | cut -d '/' -f3
  register: bmhostdisk_name
  when: host_type == 'vm' and volume_stat.rc != 0

- debug: var=bmhostdisk_name.stdout

- name: wipefs the newly added disk
  command: wipefs "/dev/{{ bmhostdisk_name.stdout }}"
  become: yes
  when: host_type == 'vm' and volume_stat.rc != 0

- name: running parted command create label
  command: parted -s "/dev/{{ bmhostdisk_name.stdout }}" mklabel gpt
  become: yes
  when: host_type == 'vm'  and volume_stat.rc != 0

- name: running parted command mkpart
  command: parted -s -a optimal "/dev/{{ bmhostdisk_name.stdout }}" mkpart primary 0% 100% set 1 lvm
  become: yes
  when: host_type == 'vm' and volume_stat.rc != 0


- name: finding pv_name  details
  shell: |
   pvname=`ls -ltr /dev/disk/by-id/ | awk -F'/' '{print $3}' | grep -ie "{{ bmhostdisk_name.stdout }}" | tail -n1`
   echo "$pvname"
  register: pv_name
  become: yes
  when: host_type == 'vm' and volume_stat.rc != 0

- name: printing pvname
  debug: var=pv_name.stdout
  when: host_type == 'vm' and volume_stat.rc != 0

- name: pvcreate on new pv
  command: pvcreate "/dev/{{ pv_name.stdout }}"
  become: yes
  when: host_type == 'vm' and volume_stat.rc != 0

- name: Extend the vg01 volume group
  command: vgextend vg01 "/dev/{{ pv_name.stdout }}"
  register: vgsize
  become: yes
  when: host_type == 'vm'  and volume_stat.rc != 0


- name: printing the vg01 size
  debug: var=vgsize.stdout
  when: host_type == 'vm' and volume_stat.rc != 0


- debug: var=vgsize.stdout

- name: Create the "{{ lv_name }}" Logical Volume.
  shell: lvcreate -L "{{ lv_size_vm }}" -n "{{ lv_name }}" vg01
  become: yes
  when: host_type == 'vm'  and volume_stat.rc != 0

- name: Create a "{{ fs }}" filesystem on lvm "/dev/mapper/{{ vg_name}}-{{ lv_name}}"
  shell: mkfs.xfs  /dev/mapper/vg01-{{ lv_name }}
  become: yes
  when: host_type == 'vm' and volume_stat.rc != 0

- name: Create a directory to mount the filesystem.
  file:
    path: /var/lib/containers
    state: directory
    mode: '0755'
  become: yes
  when: host_type == 'vm'  and volume_stat.rc != 0

- name: Mount the created "{{ fs }}" filesystem.
  shell: sed -i '$ a\/dev/mapper/vg01-{{ lv_name }} /var/lib/containers xfs defaults 0 0' /etc/fstab
  become: yes
  when: host_type == 'vm' and volume_stat.rc != 0

- name: Mount the created "{{ fs }}" filesystem.
  shell: mount -a
  become: yes
  when: host_type == 'vm' and volume_stat.rc != 0


- name: Check logical volume size
  shell: lvs --noheadings -o lv_size '/dev/mapper/vg01-var_tmp' | sed 's/^ *//'|  cut -d'.' -f1
  register: lvsize
  become: yes
  when: host_type == 'vm'

- debug:
   var: lvsize.stdout

- name: Extending vg01-var_tmp space for rhel8
  command: lvextend -r -L +25G /dev/mapper/vg01-var_tmp
  become: yes
  when: host_type == 'vm' and lvsize.stdout | int  <= 25

- name: Resizing vg01-var_tmp space for rhel8
  command: resize2fs /dev/mapper/vg01-var_tmp
  become: yes
  when: host_type == 'vm'
