#
# Copyright Motorola Solutions, Inc. and/or Kodiak Networks, Inc.
# All Rights Reserved
# Motorola Solutions Confidential Restricted
#
---

- name: Checking lvm volume is attached to VM
  ansible.builtin.command: virsh domblklist {{ vm_name }}
  register: domblklist_output
  become: true
  delegate_to: "{{ BMIP }}"
  changed_when: false

- name: Check if podmanstorage is attached
  ansible.builtin.set_fact:
    bmlvm_found: "{{ 'podmanstorage' in domblklist_output.stdout }}"
  delegate_to: "{{ BMIP }}"

- name: Checking LVM volume is created in the BareMetal host
  ansible.builtin.shell: "lvs | grep -iw {{ vm_name }}_{{ lv_name }}"
  register: lvmpodman
  become: true
  delegate_to: "{{ BMIP }}"
  changed_when: false
  failed_when: false

- name: Get LVM facts
  community.general.lvol:
    vg: vg01
    lv: kpool
    state: present
  check_mode: true
  register: kpool_info
  delegate_to: "{{ BMIP }}"
  ignore_errors: true

- name: Extract LV size
  ansible.builtin.shell: |
     LV_SIZE=`lvs -a -o name,lv_size vg01 --units g| grep -w 'kpool' |tr -d "<" | awk '{print $2}'`
     echo $LV_SIZE | awk -F'[^0-9]' '{print $1}'
  register: result_integer
  delegate_to: "{{ BMIP }}"
  changed_when: false

- name: Set VGS space fact
  ansible.builtin.set_fact:
    vgsspace: "{{ result_integer.stdout | int }}"
  delegate_to: "{{ BMIP }}"

- name: Display VGS space
  ansible.builtin.debug:
    var: vgsspace
  delegate_to: "{{ BMIP }}"

- name: Creating lvm volume on Baremetal Host
  ansible.builtin.command: /sbin/lvcreate --wipesignatures y --virtualsize {{ lv_size }} -n {{ vm_name }}_{{ lv_name }} --thin vg01/kpool
  register: lvcreate
  become: true
  delegate_to: "{{ BMIP }}"
  when: not bmlvm_found and lvmpodman.rc != 0
  changed_when: lvcreate.rc == 0

- name: Display LV creation output
  ansible.builtin.debug:
    var: lvcreate.stdout
  delegate_to: "{{ BMIP }}"
  when: not bmlvm_found

- name: Set disk device name list
  ansible.builtin.set_fact:
    disk_device: ["sda", "sdb", "sdc", "sdd", "sde", "sdf", "sdg"]
    disk_unit_num: ["0", "1", "2", "3", "4", "5"]
  delegate_to: "{{ BMIP }}"

- name: Fail if LV creation failed
  ansible.builtin.fail:
    msg: "{{ vm_name }}_{{ lv_name }} already exists...."
  delegate_to: "{{ BMIP }}"
  when: not bmlvm_found and lvmpodman.rc != 0 and lvcreate.rc != 0

- name: Gather the number of storage attached to the VM
  ansible.builtin.shell: virsh domblklist {{ vm_name }} |awk 'NR>1 {print $1}'| grep -ie "sd*" | wc -l
  become: true
  register: disk_number
  delegate_to: "{{ BMIP }}"
  changed_when: false

- name: Display disk number
  ansible.builtin.debug:
    var: disk_number.stdout

- name: Zero out first 10MB of partition
  ansible.builtin.command: dd if=/dev/zero of=/dev/vg01/{{ vm_name }}_{{ lv_name }} bs=1024 count=1000 conv=notrunc
  become: true
  delegate_to: "{{ BMIP }}"
  when: not bmlvm_found
  changed_when: true

- name: Set LV path for new volume
  ansible.builtin.set_fact:
    lv_podman_bm: "/dev/vg01/{{ vm_name }}_{{ lv_name }}"
  delegate_to: "{{ BMIP }}"
  when: not bmlvm_found

- name: Set LV path for existing volume
  ansible.builtin.set_fact:
    lv_podman_bm: "{{ domblklist_output.stdout_lines | select('search', 'podmanstorage') | map('split') | map('last') | first | default('') }}"
  delegate_to: "{{ BMIP }}"
  when: bmlvm_found

- name: Attach lvm partition for the VM
  ansible.builtin.command: virsh attach-disk {{ vm_name }} {{ lv_podman_bm }} --target sdz --serial sdz --persistent --live
  become: true
  register: lvm_disk_attach
  ignore_errors: true
  delegate_to: "{{ BMIP }}"
  changed_when: lvm_disk_attach.rc == 0

- name: Display disk attach output
  ansible.builtin.debug:
    var: lvm_disk_attach.stdout
  delegate_to: "{{ BMIP }}"

- name: Check disk attach result
  ansible.builtin.fail:
    msg: "sdz attach failed"
  when:
    - lvm_disk_attach.rc != 0
    - "'target sdz already exists' not in lvm_disk_attach.stderr"
  delegate_to: "{{ BMIP }}"

- name: Gather disk device names on baremetal host
  ansible.builtin.shell: virsh domblklist {{ vm_name }} | awk 'NR>1 {print $1}' | grep -ie "sd" | tail -n1
  become: true
  register: disk_device_name
  delegate_to: "{{ BMIP }}"
  changed_when: false

- name: Display disk device name
  ansible.builtin.debug:
    var: disk_device_name.stdout

- name: Set disk facts
  ansible.builtin.set_fact:
    disk_scsci_num: "{{ disk_number.stdout }}"
    disk_name: "{{ disk_device_name.stdout }}"
  delegate_to: "{{ BMIP }}"

- name: Check if /var/lib/containers is mounted
  ansible.builtin.command: mountpoint -q /var/lib/containers
  become: true
  register: volume_stat
  failed_when: false
  changed_when: false

- name: Display volume mount status
  ansible.builtin.debug:
    var: volume_stat

- name: Get new disk name on VM
  ansible.builtin.shell: ls -l /dev/disk/by-id | grep "sdz " | awk '{print $NF}' | cut -d '/' -f3
  register: bmhostdisk_name
  when: volume_stat.rc != 0
  changed_when: false

- name: Display BM host disk name
  ansible.builtin.debug:
    var: bmhostdisk_name.stdout
  when: volume_stat.rc != 0

- name: Wipe filesystem signatures
  ansible.builtin.command: wipefs -a "/dev/{{ bmhostdisk_name.stdout }}"
  become: true
  when: volume_stat.rc != 0
  changed_when: true

- name: Create GPT partition table
  community.general.parted:
    device: "/dev/{{ bmhostdisk_name.stdout }}"
    label: gpt
    state: present
  become: true
  when: volume_stat.rc != 0

- name: Create primary partition
  community.general.parted:
    device: "/dev/{{ bmhostdisk_name.stdout }}"
    number: 1
    flags: [lvm]
    state: present
    part_start: 0%
    part_end: 100%
  become: true
  when: volume_stat.rc != 0

- name: Find PV name details
  ansible.builtin.shell: |
    pvname=`ls -ltr /dev/disk/by-id/ | awk -F'/' '{print $3}' | grep -ie "{{ bmhostdisk_name.stdout }}" | tail -n1`
    echo "$pvname"
  register: pv_name
  become: true
  when: volume_stat.rc != 0
  changed_when: false

- name: Display PV name
  ansible.builtin.debug:
    var: pv_name.stdout
  when: volume_stat.rc != 0

- name: Create physical volume
  community.general.lvg:
    pvs: "/dev/{{ pv_name.stdout }}"
    vg: vg01
    state: present
  become: true
  when: volume_stat.rc != 0

- name: Display VG extension message
  ansible.builtin.debug:
    msg: "VG extended with /dev/{{ pv_name.stdout }}"
  when: volume_stat.rc != 0

- name: Create logical volume
  community.general.lvol:
    vg: vg01
    lv: "{{ lv_name }}"
    size: "{{ lv_size_vm }}"
    state: present
  become: true
  when: volume_stat.rc != 0

- name: Create XFS filesystem
  community.general.filesystem:
    fstype: xfs
    dev: /dev/mapper/vg01-{{ lv_name }}
  become: true
  when: volume_stat.rc != 0

- name: Create mount directory
  ansible.builtin.file:
    path: /var/lib/containers
    state: directory
    mode: '0755'
  become: true
  when: volume_stat.rc != 0

- name: Mount filesystem
  ansible.posix.mount:
    path: /var/lib/containers
    src: /dev/mapper/vg01-{{ lv_name }}
    fstype: xfs
    opts: defaults
    state: mounted
  become: true
  when: volume_stat.rc != 0

- name: Check logical volume size
  ansible.builtin.shell: lvs --noheadings -o lv_size '/dev/mapper/vg01-var_tmp' | sed 's/^ *//' | cut -d'.' -f1
  register: lvsize
  become: true
  changed_when: false

- name: Display LV size
  ansible.builtin.debug:
    var: lvsize.stdout

- name: Extend vg01-var_tmp space for rhel8
  community.general.lvol:
    vg: vg01
    lv: var_tmp
    size: +25G
    resizefs: true
  become: true
  when: lvsize.stdout | int <= 25
