#
# Copyright Motorola Solutions, Inc. and/or Kodiak Networks, Inc.
# All Rights Reserved
# Motorola Solutions Confidential Restricted
#
---
- name: Check if the logical volume exists
  ansible.builtin.stat:
    path: /dev/{{ dp_vg_name }}/{{ dp_lv_name }}
  register: lv_exists

- name: Proceed if the volume exists
  become: yes
  block:
    - name: Unmount the logical volume if mounted
      ansible.posix.mount:
        path: "{{ item.mount }}"
        state: unmounted
      when: item.device == "/dev/{{ dp_vg_name }}/{{ dp_lv_name }}"
      loop: "{{ ansible_mounts }}"
      loop_control:
        label: "{{ item.device }}"

    - name: Get LV information
      community.general.lvol:
        vg: "{{ dp_vg_name }}"
        lv: "{{ dp_lv_name }}"
        state: present
      check_mode: yes
      register: lv_info
      ignore_errors: yes

    - name: Deactivate the logical volume
      ansible.builtin.command: lvchange -an /dev/{{ dp_vg_name }}/{{ dp_lv_name }}
      when: lv_info is not failed
      ignore_errors: yes

    - name: Remove the logical volume
      community.general.lvol:
        vg: "{{ dp_vg_name }}"
        lv: "{{ dp_lv_name }}"
        state: absent
        force: yes

  when: lv_exists.stat.exists

