#
# Copyright Motorola Solutions, Inc. and/or Kodiak Networks, Inc.
# All Rights Reserved
# Motorola Solutions Confidential Restricted
#
---

#- name: check directory exist or not
#  become: yes
#  become_user: root
#  any_errors_fatal: true
#  when: inventory_hostname in groups[group_vm]
#  file:
#    path: "{{ item }}"
#    state: absent
#  loop:
#    - /DGdata/rhel79servicefiles
#    - /DGdata/rhel79containersini
#    - /DGdata/rhel79containerdat

- name: creating directory
  become: yes
  become_user: root
  any_errors_fatal: true
  file:
    path: "{{ item }}"
    state: directory
    owner: autoinstall
    group: kodiakgroup
    mode: 0777
    recurse: yes
  loop:
    - /DGdata/rhel79servicefiles
    - /DGdata/rhel79containersini
    - /DGdata/rhel79containerdat


- name: finding from /usr/local/etc to /DGdata/rhel79containerdat
  become: yes
  become_user: root
  find:
    paths: "/usr/local/etc/"
    recurse: yes
    patterns: "*.dat"
  register: copy_rhel79containerdat_status

- name: copying from /usr/local/etc to /DGdata/rhel79containerdat
  become: yes
  become_user: root
  copy:
    src: "{{ item.path }}"
    dest: /DGdata/rhel79containerdat
    remote_src: yes
  with_items: "{{ copy_rhel79containerdat_status.files }}"


#- name: finding from /usr/local/etc to /DGdata/rhel79containersini
#  become: yes
#  become_user: root
#  find:
#    paths: "/usr/local/etc/containers" 
#    recurse: yes 
#    patterns: "*.*"
#  register: copy_rhel79containersini_status

#- name: copying from /usr/local/etc to /DGdata/rhel79containersini
#  become: yes
#  become_user: root
#  copy: 
#    src: "{{ item.path }}" 
#    dest: /DGdata/rhel79containersini
#    remote_src: yes
#  with_items: "{{ copy_rhel79containersini_status.files }}"

- name: copying from /usr/local/etc to /DGdata/rhel79containersini
  become: yes
  become_user: root
  shell: yes | mv -f /usr/local/etc/containers/*.* /DGdata/rhel79containersini
  ignore_errors: true



- name: finding from  /usr/local/etc to /DGdata/rhel79servicefiles
  become: yes
  become_user: root
  find:
    paths: "/usr/local/etc/systemd/system" 
    recurse: yes 
    patterns: "*.service*"
  register: copy_rhel79servicefiles_status

- name: copying from /usr/local/etc to /DGdata/rhel79servicefiles
  become: yes
  become_user: root
  copy: 
    src: "{{ item.path }}" 
    dest: /DGdata/rhel79servicefiles
    remote_src: yes
  with_items: "{{ copy_rhel79servicefiles_status.files }}"

- name: removing /usr/local/etc/systemd/system/service files
  become: yes
  become_user: root
  shell: rm -rf /usr/local/etc/systemd/system/*.service
  register: usr_local_servicefiles
  when: ansible_distribution_major_version == 7
#- debug: msg="{{usr_local_servicefiles.stdout}}"


- debug: 
   msg: Removing "{{ copy_rhel79servicefiles_status.files }}" files

- name: copying from /DGdata/rhel8containerdat to /usr/local/etc
  become: yes
  become_user: root
  shell: yes | mv -f /DGdata/rhel8containerdat/running_container.dat /usr/local/etc
  ignore_errors: true


- name: finding service files in /DGdata/rhel8servicefiles
  become: yes
  become_user: root
  find:
    paths: "/DGdata/rhel8servicefiles" 
    recurse: yes 
    patterns: "*.service*"
  register: systemdsrvc_files
  ignore_errors: true
  any_errors_fatal: true 


- command: cat /usr/local/etc/running_container.dat
  register: running_list
  ignore_errors: true
  become: yes
  become_user: root



- name: systemdsrvc_files
  debug:
    msg: "{{ systemdsrvc_files.files }}"

- name: running_list
  debug:
    msg: "{{ running_list.stdout_lines }}"

- name:  check service files
  become: yes
  become_user: root
  shell: yes | mv -f /DGdata/rhel8servicefiles/{{ item }}.service /usr/local/etc/systemd/system/
  when:
    - running_list.rc == 0 
  with_items:
    - "{{ running_list.stdout_lines }}" 
  any_errors_fatal: true
  register: servicefileslist
  ignore_errors: true

- name: servicefileslist
  debug:
    msg: "{{ servicefileslist }}"


