#
# Data disk format configuration file
#
# Specify docker pool size
# docker pool size is 400G
# autoextend threshold is 80 percent
# autoextend percentage is 20 percent
#docker_pool=400G,80,20,null
var_log=50G,/var/log,0755,remap,ext4,defaults
var_log_audit=10G,/var/log/audit,0750,remap,ext4,defaults
var_tmp=30G,/var/tmp,1777,remap,ext4,defaults,nosuid,nodev,noexec
var_lib_docker=20G,/var/lib/docker,0700,remap,ext4,defaults
home=10G,/home,0755,remap,ext4,defaults,nodev
usr_local_etc=1G,/usr/local/etc,0755,remap,ext4,defaults
containers=400G,/var/lib/containers,0755,remap,xfs,defaults
DGtmp=20G,/DGtmp,0755,null,xfs,defaults
DGdata={{ '50%VG' if DGdata == '' else DGdata + 'G' }},/DGdata,0755,null,ext4,defaults
DGlogs={{ '10%VG' if DGlogs == '' else DGlogs + 'G' }},/DGlogs,0755,null,ext4,defaults
Database={{ Database | default(100, true) }}G,/Database,0755,null,ext4,defaults
GridGainDrFs={{ GridGainDrFs | default(20, true) }}G,/GridGainDrFs,0755,null,ext4,defaults
GridGainWal={{ GridGainWal | default(20, true) }}G,/GridGainWal,0755,null,ext4,defaults
GridGainData={{ GridGainData | default(50, true) }}G,/GridGainData,0755,null,ext4,defaults
CouchIndex={{ couchindex | default(50, true) }}G,/CouchIndex,0755,null,ext4,defaults
CouchData={{ couchdata | default(100, true) }}G,/CouchData,0755,null,ext4,defaults
PostgresData={{ PostgresData | default(50, true) }}G,/PostgresData,0755,null,ext4,defaults
PostgresWal={{ PostgresWal | default(15, true) }}G,/PostgresWal,0755,null,ext4,defaults
