#
# Copyright Motorola Solutions, Inc. and/or Kodiak Networks, Inc.
# All Rights Reserved
# Motorola Solutions Confidential Restricted
#
---
- name: zero out first 10MB of partition
  ansible.builtin.command:
    cmd: /usr/bin/dd if=/dev/zero of={{ os_partition.stdout }} bs=1024 count=1000 conv=notrunc
  become: true
  register: vm_dd
  any_errors_fatal: true

- name: check thick LV
  ansible.builtin.command:
    cmd: /usr/sbin/lvdisplay {{ os_partition.stdout }}
  become: true
  register: check_vm_lv
  failed_when: check_vm_lv.rc != 0
  any_errors_fatal: true

- name: copy new image to VM's thick LV partition
  ansible.builtin.command:
    cmd: /usr/bin/qemu-img convert -p /home/autoinstall/{{ VM_UPGRADE_QCOW2 }} -O raw {{ os_partition.stdout }}
  become: true
  register: install_VM_output
  any_errors_fatal: true

- name: delete install.cfg
  ansible.builtin.file:
    path: /var/tftpd/install.cfg
    state: absent
  ignore_errors: true
