#
# Copyright Motorola Solutions, Inc. and/or Kodiak Networks, Inc.
# All Rights Reserved
# Motorola Solutions Confidential Restricted
#
---
- name: removing the backup directory if exists
  file: path=/DGdata/VMBACKUP state=absent
  become: yes
  become_user: root
  any_errors_fatal: true

- name: creating backup directory in DGdata
  file: path=/DGdata/VMBACKUP/ owner=autoinstall group=kodiakgroup mode=0777 state=directory recurse=yes
  become: yes
  become_user: root
  any_errors_fatal: true

- debug:
     msg : "{{ parent_role_name }}"

- name: copy latest vm_config_save_and_restore.sh to VM
  copy: src="../../shared/files/vm_config_save_and_restore.sh" dest="/usr/local/bin/vm_config_save_and_restore.sh" mode="0755"
  become: yes
  become_user: root
  any_errors_fatal: true
  when: parent_role_name != "vmrollback"

- name: copy tps_scripts to VM
  copy: src="../../../../tps_scripts" dest="/DGdata/Software" mode="0755"
  become: yes
  become_user: root
  any_errors_fatal: true
  when: parent_role_name != "vmrollback"

- name: reading sysctl new CIS params
  local_action: shell cat roles/shared/files/sysctlcis
  register: read_lines
  any_errors_fatal: true

- name: Adding new sysctl params in backup path
  lineinfile:
    path: /etc/sysctl.conf
    insertafter: EOF
    line: "{{ item }}"
  with_items: "{{ read_lines.stdout_lines }}"
  any_errors_fatal: true
  become: yes
  become_user: root

- name: verify /usr/share
  shell: grep '/usr/share' /etc/fstab
  register: verify_share
  ignore_errors: true
  become: yes
  become_user: root

- name: Comment out  in fstab
  lineinfile:
    dest: /etc/fstab
    regexp: '.*/usr/share.*'
    line: '#/dev/mapper/vg01-usr_share /usr/share ext4 defaults 1 2 '
  when: verify_share.rc ==  0
  become: yes
  become_user: root

- name: verify vg01-usr_new
  shell: grep 'vg01-usr_new' /etc/fstab
  register: verify_share
  ignore_errors: true
  become: yes
  become_user: root

- name: Comment out  in fstab
  lineinfile:
    path: /etc/fstab
    regexp: '.*/vg01-usr_new.*'
    state: absent
    backup: true
    #line: '#/dev/mapper/vg01-usr_new /usr ext4 defaults 1 2 '
  when: verify_share.rc ==  0
  become: yes
  become_user: root


- name: verify usr
  shell: grep 'LABEL=USR' /etc/fstab
  register: verify_usr
  ignore_errors: true
  become: yes
  become_user: root

- name: Comment out  in fstab
  replace:
    path: /etc/fstab
    regexp: '#LABEL=USR'
    replace: 'LABEL=USR'
  when: verify_usr.rc ==  0
  become: yes
  become_user: root

- name: copy hosts file into backup
  copy: src="/etc/hosts" dest="/DGdata/VMBACKUP/hosts" mode="0755" remote_src=yes
  become: yes
  become_user: root

- name: Disabling systemd service file
  systemd:
    enabled: no
    state: stopped
    name: vm_shutdown.service
  register: vm_shutdown_status
  become: yes
  become_user: root

- debug: var=vm_shutdown_status

- name: running backup script on VM
  command: /usr/local/bin/vm_config_save_and_restore.sh -d 2 SAVE
  register: backup_vm_files
  any_errors_fatal: true
  become: yes
  become_user: root

- name: running vm_misc_save_restore.sh script on VM
  command: /DGdata/Software/tps_scripts/vm_misc_save_restore.sh -d 2 SAVE
  register: backup_vm_files
  any_errors_fatal: true
  become: yes
  become_user: root

- name: copying from /usr/local/etc to /DGdata/VMBACKUP
  command: cp -R /usr/local/etc /DGdata/VMBACKUP
  register: copy_status
  become: yes
  become_user: root

- name: copying from /usr/local/etc to /DGdata/VMBACKUP
  copy: src=/DGdata/VMBACKUP/hosts dest=/usr/local/etc/hosts remote_src=yes
  register: hosts_status
  become: yes
  become_user: root

- name: Finding container systemd service files
  command: ls -1 /DGdata/VMBACKUP/systemd/system/*.service*
  register: systemd_services_files
  failed_when: systemd_services_files == ""
  become: yes
  become_user: root
  any_errors_fatal: true
