---
# tasks file for create_vm

- block:
    
    - name: Launching "{{ vm_name }}"  vm
      shell: "sudo bash -x /usr/local/bin/vm_build_and_install.sh -d 4 -v  RESTORE {{ vm_name }} "
      register: vm_creation_result
      ignore_errors: true

    - block:
        - name: Append VM to Failed list
          set_fact:
            failed_vms: "{{ failed_vms | default([]) + [vm_name] }}"

        - name: Remove LV partitions for failed VM
          ansible.builtin.command: >
            lvremove -y {{ vg_name }}/{{ item }}
          loop:
            - "{{ vm_name }}_part"
            - "{{ vm_name }}_vol"
          ignore_errors: yes


      when: vm_creation_result is failed

    - block:
        - name: Append VM to successful list
          set_fact:
            successful_vms: "{{ successful_vms | default([]) + [vm_name] }}"

        - name: Wait for VM to be running
          community.libvirt.virt:
            name: "{{ vm_name }}"
            state: running
          register: vm_status
          until: vm_status is succeeded
          retries: 20
          delay: 30


        - name: Register VM state
          set_fact:
            vm_state: "{{ vm_state | default({}) | combine({ vm_name: 'running' }) }}"

        - debug:
            msg:
              - "Successfully launched VMs: {{ successful_vms }}"
              - "{{ vm_state }}"

      when: vm_creation_result is succeeded

- name: List of failed VMs
  debug:
    msg: "Failed VMs list: {{ failed_vms | default([]) }}"


