{% for bridge,Ip in bridgeList|zip(IpList+ [''] * (bridgeList|length - IpList|length)) %}
[Eth{{ loop.index0 }}]
name = eth{{ loop.index0 }}
{% if Ip %}
ipaddr = {{ Ip }}
{% if  gateway[Ip]  is defined %}
gateway = {{ gateway[Ip]  }}
{% endif %}
{% endif %}


{% endfor %}
