---
# check_vm_present.yml
- name: Check if VM {{ item.name }} is already present on {{ ansible_host }}
  community.libvirt.virt:
    command: list_vms
    uri: "qemu+ssh://root@{{ ansible_host }}/system"
  register: vm_list
  delegate_to: localhost
  vars:
    ansible_python_interpreter: /usr/bin/python3

- name: Add VM to already_present list if it exists
  ansible.builtin.set_fact:
    already_present: "{{ already_present | default([]) + [item.name] }}"
  when: item.name in vm_list.list_vms

