---
# check_vm_present.yml
- name: Check if VM {{ item.name }} is already present on {{ ansible_host }}
  community.libvirt.virt:
    command: list_vms
    uri: qemu:///system
  register: vm_list
  ignore_errors: true

- name: Add VM to already_present list if it exists
  ansible.builtin.set_fact:
    already_present: "{{ already_present | default([]) + [item.name] }}"
  when: item.name in vm_list.list_vms
