- name: Get list of VMs on {{ inventory_hostname }}
  community.libvirt.virt:
    command: list_vms
  register: vm_list
  become: yes

- name: Mark already present VMs
  set_fact:
    already_present: "{{ already_present | default([]) + [vm.name] }}"
  loop: "{{ hostvars[inventory_hostname].vms }}"
  loop_control:
    loop_var: vm
  when: vm.name in vm_list.list_vms
