---

- name: Setting fact for vm hostname
  ansible.builtin.set_fact:
    ansible_host: "{{ BMIP }}"

- name: Check if kpool thin pool exists
  community.general.lvol:
    lv: kpool
    vg: "{{ vg_name | default('vg01') }}"
    state: present
  register: kpool_check
  failed_when: false
  check_mode: true

- name: Get LVM facts
  community.general.lvg_facts:
  register: lvg_facts

- block:
   - name: Get kpool size information
     ansible.builtin.set_fact:
       kpool_info: "{{ lvg_facts.ansible_lvm.lvs.kpool }}"
     when: "'kpool' in lvg_facts.ansible_lvm.lvs"

   - name: Convert kpool size to GB
     ansible.builtin.set_fact:
       thinPoolsize: "{{ (kpool_info.size_g | float * 1024) | int if kpool_info.size_g is defined else kpool_info.size_g | default(0) }}"

  when: kpool_check.changed == false

- block:
   - name: Get volume group facts
     community.general.lvg_facts:
     register: vg_facts

   - name: Calculate free space and new thin pool size
     ansible.builtin.set_fact:
       freespace_gb: "{{ (vg_facts.ansible_lvm.vgs[vg_name | default('vg01')].free_g | float) }}"
       new_thinpoolsize: "{{ ((vg_facts.ansible_lvm.vgs[vg_name | default('vg01')].free_g | float) * (thinpool_BM | default(80) | int) / 100) | int }}"

   - name: Create thin pool if sufficient space available
     ansible.builtin.command:
       cmd: "/usr/local/bin/manage_kodiak_thin_pool.sh -s {{ new_thinpoolsize }}  -v {{ vg_name | default('vg01') }} POOL kpool"
     when: new_thinpoolsize | int < freespace_gb | int
     become: true
     become_user: root
     failed_when: new_thinpoolsize | int > freespace_gb | int

   - name: Set thin pool size fact
     ansible.builtin.set_fact:
       thinPoolsize: "{{ new_thinpoolsize }}"

  when: kpool_check.changed == true

