---
# check_vm_present.yml

- name: Show Python and sshpass inside EE
  command: bash -c "which python3 && python3 -V && which sshpass"

- name: Check if VM {{ item.name }} is already present in {{ ansible_host }}
  community.libvirt.virt:
    command: list_vms
  register: vm_list

- block:
    - name: VM already present on Baremetal
      set_fact:
        already_present: "{{ already_present | default([]) + [item.name] }}"
  when: item.name in vm_list.list_vms

