---
# check_vm_present.yml
- name: Check if VM {{ vm.name }} is already present in {{ ansible_host }}
  community.libvirt.virt:
    command: list_vms
  register: vm_list
  become: yes

- block:
    - name: VM already present on Baremetal
      set_fact:
        already_present: "{{ already_present | default([]) + [vm.name] }}"
  when: vm.name in vm_list.list_vms

