---
# check_vm_present.yml
- name: Check if VM {{ item.name }} is already present in {{ item.hostip }}
  community.libvirt.virt:
    command: list_vms
  register: vm_list
  become: yes
  delegate_to: "{{ item.hostip }}"
  ignore_errors: true
  vars:
    ansible_remote_tmp: /tmp/.ansible
  

- block:
    - name: VM's already present in Baremetel
      set_fact:
        already_present: "{{ already_present | default([]) + [item.name] }}"
  when: item.name in vm_present.stdout