---
# check_vm_present.yml

- name: Check remote user
  ansible.builtin.command: whoami
  delegate_to: "{{ ansible_host }}"
  register: who
  ignore_errors: true

- debug:
    var: who.stdout

- name: Check if VM {{ item.name }} is already present in {{ ansible_host }}
  community.libvirt.virt:
    command: list_vms
  register: vm_list
  become: yes
  ignore_errors: true


- block:
    - name: VM's already present in Baremetel
      set_fact:
        already_present: "{{ already_present | default([]) + [item.name] }}"
  when: item.name in vm_list.list_vms