---
- name: Gather timezone fact
  setup:
    filter: ansible_date_time
- name: Set timezone fact
  set_fact:
    timezone: "{{ ansible_date_time.tz }}"

- name: Number of VLANs from user input
  set_fact:
    no_vlan: "{{ item.networkInterface | length }}"

- name: Set default mac addresses
  set_fact:
    default_mac_vir: "{{ '52:54:00' | community.general.random_mac  }}"
    default_mac_oambr: "{{ '52:54:00' | community.general.random_mac }}"

- debug:
    msg: "{{ default_mac_vir }} ----- {{ default_mac_oambr }}"

- name: Generate MAC for each interface
  set_fact:
    macList: "{{ macList | default([]) + [ '52:54:00' | community.general.random_mac ] }}"
  loop: "{{ item.networkInterface }}"
  loop_control:
    loop_var: vlan

- debug:
    var: macList

- name: Reset bridge variables
  set_fact:
    bridgeList: []
    AliasBridgeList: []

- name: Build main bridge list
  set_fact:
    bridgeList: "{{ bridgeList + [Br.bridge] }}"
  loop: "{{ item.networkInterface }}"
  loop_control:
    loop_var: Br

- debug:
    var: bridgeList
    
- name: Build alias bridge list
  set_fact:
    AliasBridgeList: "{{ AliasBridgeList + [Abr.alias_bridge] }}"
  loop: "{{ item.networkInterface }}"
  loop_control:
    loop_var: Abr
  when: Abr.alias_bridge is defined and Abr.alias_bridge

- debug:
    var: AliasBridgeList

- name: Set alias flag
  set_fact:
    Alias_Flag: "{{ 1 if (AliasBridgeList | length) > 0 else 0 }}"

- debug:
    var: Alias_Flag

- name: Validate alias bridges vs real bridges
  fail:
    msg: "Number of Alias Bridges does not match Actual Bridges"
  when: Alias_Flag == 1 and (AliasBridgeList | length != bridgeList | length)

- name: Reset IpList
  set_fact:
    IpList: []
    gwList: {}

- name: Get the list of Ip address
  set_fact:
    IpList: "{{ IpList + [iface.ipaddress] }}"
  loop: "{{ item.networkInterface }}"
  loop_control:
    loop_var: iface
  when: iface.ipaddress is defined

- name: reset gateway
  set_fact:
    gateway: {}

- name: get the gateway  of each bridge
  set_fact:
    gateway: "{{ gateway | combine({gtw.ipaddress : gtw.gw | default(omit)}) }}"
  when: gtw.ipaddress is defined
  loop: "{{ item.networkInterface }}"
  loop_control:
    loop_var: gtw

- debug:
    var: gateway
    
- name: reset static route
  set_fact:
    routes: []
    
- name: get the static route
  set_fact:
    routes: "{{ routes  | default([]) + [rt] }}"
  loop: "{{ item.route }}"
  loop_control:
    loop_var: rt
  when: item.route is defined

- debug:
    msg: "{{ routes }}"