---
- name: Gather timezone fact
  setup:
    filter: ansible_date_time
- name: Set timezone fact
  set_fact:
    timezone: "{{ ansible_date_time.tz }}"

- name: Number of VLANs from user input
  set_fact:
    no_vlan: "{{ net_ifaces | length }}"

- name: Set default mac addresses
  set_fact:
    default_mac_vir: "{{ lookup('community.general.random_mac', '52:54:00') }}"
    default_mac_oambr: "{{ lookup('community.general.random_mac', '52:54:00') }}"

- debug:
    msg: "{{ default_mac_vir }} ----- {{ default_mac_oambr }}"

- name: Generate MAC for each interface
  set_fact:
    macList: "{{ macList | default([]) + [ lookup('community.general.random_mac', '52:54:00') ] }}"
  loop: "{{ net_ifaces }}"
  loop_control:
    loop_var: vlan

- debug:
    var: macList

- name: Reset bridge variables
  set_fact:
    bridgeList: []
    AliasBridgeList: []

- name: Build main bridge list
  set_fact:
    bridgeList: "{{ bridgeList + [Br.bridge] }}"
  loop: "{{ net_ifaces }}"
  loop_control:
    loop_var: Br

- debug:
    var: bridgeList
    
- name: Build alias bridge list
  set_fact:
    AliasBridgeList: "{{ AliasBridgeList + [Abr.alias_bridge] }}"
  loop: "{{ net_ifaces }}"
  loop_control:
    loop_var: Abr
  when: Abr.alias_bridge is defined and Abr.alias_bridge

- debug:
    var: AliasBridgeList

- name: Set alias flag
  set_fact:
    Alias_Flag: "{{ 1 if (AliasBridgeList | length) > 0 else 0 }}"

- debug:
    var: Alias_Flag

- name: Validate alias bridges vs real bridges
  fail:
    msg: "Number of Alias Bridges does not match Actual Bridges"
  when: Alias_Flag == 1 and (AliasBridgeList | length != bridgeList | length)

- name: Reset IpList
  set_fact:
    IpList: []
    gwList: {}

- name: Build IP list
  set_fact:
    IpList: "{{ IpList + [iface.ipaddress] }}"
  loop: "{{ net_ifaces }}"
  loop_control:
    loop_var: iface
  when: iface.ipaddress is defined

- name: Build gateway map
  set_fact:
    gwList: "{{ gwList | combine({ gw.ipaddress: gw.gw }) }}"
  loop: "{{ net_ifaces }}"
  loop_control:
    loop_var: gw
  when: gw.ipaddress is defined
- debug:
    var: gwList
    
- name: Build static routes list
  set_fact:
    routes: "{{ routes | default([]) + [r] }}"
  loop: "{{ routes_input }}"
  loop_control:
    loop_var: r
- debug:
    var: routes