- name: "Post configuration for {{ vm_name }}"
  hosts: "{{ vm_ips[vm_name] }}"
  gather_facts: no
  remote_user: "{{ user }}"
  vars:
    ansible_password: "{{ password }}"

  tasks:
    # ------------------------------------------------------
    # FIND FILES ON THIS VM (NO LOOP, NO DELEGATE_TO NEEDED)
    # ------------------------------------------------------
    - name: Find log files on this VM
      ansible.builtin.find:
        paths: /root/logs/
        patterns: "vm_config_thin_vol.sh.error"
        recurse: yes
      register: found_scripts

    - debug:
        msg: "Found files: {{ found_scripts.files }}"

    # ----------------------------
    # SLURP EACH FOUND FILE
    # ----------------------------
    - name: Read log files
      ansible.builtin.slurp:
        src: "{{ item.path }}"
      loop: "{{ found_scripts.files }}"
      loop_control:
        loop_var: fileitem
      register: slurped_logs
      ignore_errors: yes

    # ----------------------------
    # FAIL IF ANY ERROR FOUND
    # ----------------------------
    - name: Fail if log contains ERROR
      ansible.builtin.fail:
        msg: |
          ERROR found in {{ fileitem.path }} on {{ inventory_hostname }}:
          {{ filecontent }}
      loop: "{{ slurped_logs.results }}"
      loop_control:
        loop_var: logitem
      vars:
        fileitem: "{{ logitem.item }}"
        filecontent: "{{ logitem.content | b64decode }}"
      when:
        - logitem is defined
        - logitem.content is defined
        - (logitem.content | b64decode) is search("ERROR")


    # ------------------------------------------------------
    # COSIGN BLOCK (Runs ONCE per VM)
    # ------------------------------------------------------
    - block:
        - name: Import cosign_upg.yml
          ansible.builtin.import_tasks: cosign_upg.yml
          become: yes

        - name: Copy cosign_failed_vms
          ansible.builtin.copy:
            src: "{{ cosign_failed_vms }}"
            dest: "/DGdata/Software/{{ cosign_failed_vms | basename }}"
            mode: '0644'
          become: yes

      when: repo_url and cosign_pub_key_file

    - name: Skipping cosign
      ansible.builtin.debug:
        msg: "Skipping cosign verification as repo_url or cosign_pub_key_file not defined"
      when: not (repo_url and cosign_pub_key_file)

    # ------------------------------------------------------
    # NSSWITCH / RESOLV.CONF UPDATE ON THE VM
    # ------------------------------------------------------
    - name: Ensure dns is appended to hosts line
      ansible.builtin.lineinfile:
        path: /etc/nsswitch.conf
        regexp: '^hosts:'
        line: "hosts:      files myhostname dns"
      become: yes

    - name: Ensure nameserver entry exists
      ansible.builtin.lineinfile:
        path: /etc/resolv.conf
        line: "nameserver 8.8.8.8"
        state: present
      become: yes
