#
# Copyright Motorola Solutions, Inc. and/or Kodiak Networks, Inc.
# All Rights Reserved
# Motorola Solutions Confidential Restricted
#
---
- name: VM re-launching on Bare Metal host with existing thin volume
  hosts: all
  become: true
  strategy: free

  tasks:
  
  - import_role:
        name: common
    tags:
    - validation
    loop: "{{ vms }}"
    loop_control:
      loop_var: vm
    vars:
      vm_name: "{{ vm.name }}"
  
  - import_role:
        name: bmhlvm
    tags:
    - bmhlvm
    loop: "{{ vms }}"
    loop_control:
      loop_var: vm
    vars:
      vm_name: "{{ vm.name }}"
  
  - import_role:
        name: vmupg
    tags:
    - vmupg
    loop: "{{ vms }}"
    loop_control:
      loop_var: vm
    vars:
      vm_name: "{{ vm.name }}"
  

#  - name: Listing all docker images in /DGdata/Loads/docker_images/
#    find: paths=/DGdata/Loads/docker_images patterns="*.tgz" recurse=no
#    register: images_list
#    when: group_vm in group_names
#    ignore_errors: true
#    tags:
#    - imageloadtag

#  - import_role:
#        name: imageloadtag
#    when: group_vm in group_names and images_list.files != []
#    tags:
#    - imageloadtag

#  roles:
#    - {role: 'common', tags: 'validation'}
#    - {role: 'vmupg', tags: 'vmupg'}
#    - {role: 'imageloadtag', tags: 'imagesloadtag'}

