#
# Copyright Motorola Solutions, Inc. and/or Kodiak Networks, Inc.
# All Rights Reserved
# Motorola Solutions Confidential Restricted
#
---
- name: VM re-launching on Bare Metal host with existing thin volume
  hosts: all
  become: true
  strategy: free

  tasks:
  
  - include_role:
        name: common
    tags:
    - validation
    loop: "{{ vms }}"
    loop_control:
      loop_var: vm
    vars:
      vm_name: "{{ vm.name }}"
  
  - include_role:
        name: bmhlvm
    tags:
    - bmhlvm
    loop: "{{ vms }}"
    loop_control:
      loop_var: vm
    vars:
      vm_name: "{{ vm.name }}"
  
  - include_role:
        name: vmupg
    tags:
    - vmupg
    loop: "{{ vms }}"
    loop_control:
      loop_var: vm
    vars:
      vm_name: "{{ vm.name }}"