#
# Copyright Motorola Solutions, Inc. and/or Kodiak Networks, Inc.
# All Rights Reserved
# Motorola Solutions Confidential Restricted
#
---
- name: VM re-launching on Bare Metal host with existing thin volume
  hosts:  all
  gather_facts: yes
  any_errors_fatal: true
  remote_user: "{{ upg_user }}"
  become: true

  tasks:
  
  - import_role:
        name: common
    tags:
    - validation
  
  - import_role:
        name: bmhlvm
    tags:
    - bmhlvm 
  
  - import_role:
        name: vmupg
    tags:
    - vmupg
  

#  - name: Listing all docker images in /DGdata/Loads/docker_images/
#    find: paths=/DGdata/Loads/docker_images patterns="*.tgz" recurse=no
#    register: images_list
#    when: group_vm in group_names
#    ignore_errors: true
#    tags:
#    - imageloadtag

#  - import_role:
#        name: imageloadtag
#    when: group_vm in group_names and images_list.files != []
#    tags:
#    - imageloadtag

#  roles:
#    - {role: 'common', tags: 'validation'}
#    - {role: 'vmupg', tags: 'vmupg'}
#    - {role: 'imageloadtag', tags: 'imagesloadtag'}

