#
# Copyright Motorola Solutions, Inc. and/or Kodiak Networks, Inc.
# All Rights Reserved
# Motorola Solutions Confidential Restricted
#
---
- name: VM re-launching on Bare Metal host with existing thin volume
  hosts: bare_metal_hosts,vm_hosts
  gather_facts: yes
  any_errors_fatal: true
  remote_user: "{{ upg_user }}"
  become: true

  tasks:
  
  - import_role:
        name: common
    tags:
    - validation
    loop:
    loop_control:
      loop_var: vm
    vm_name: "{{ vm.name }}"
  - import_role:
        name: bmhlvm
    tags:
    - bmhlvm
    loop:
    loop_control:
      loop_var: vm
    vm_name: "{{ vm.name }}"
  
  - import_role:
        name: vmupg
    tags:
    - vmupg
    loop:
    loop_control:
      loop_var: vm
    vm_name: "{{ vm.name }}"